<html>
  <head>
      <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

      <title>
        {% block title %}
        {% endblock %}
      </title>
    
    <style type="text/css">
      {% block style %}
      {% endblock %}
    </style>
  </head>
  <body>
    {% block body %}
    {% endblock %}
  </body>
</html>