{% extends "base.html" %}

{% block style %}
  @media only screen and (max-width: 200px) {
      .masthead.segment {
        min-height: 150px;
      }
      .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
      }
      .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
      }
    }
    .masthead.segment {
      min-height: 100px;
      padding: 1em 0em;      
    }
    .masthead h1.ui.header {
      margin-top: 1em;
      margin-bottom: 0em;
      font-size: 5em;
      font-weight: normal;
    }
    .masthead h2 {
      font-size: 2em;
      font-weight: normal;
      margin-bottom: 2em;
    }
    #head{
      margin-bottom:1.5em;
    }
    body {
      background-color: #DADADA;
      font-family:'Times New Roman';
    }
    body > .grid {
      height: 100%;
    }
    .column {
      max-width: 450px;
    }
{% endblock %}

{% block body %}
  <div id="head" class="ui inverted vertical masthead center aligned segment ">
    <div class="ui text container">
      <h1 class="ui inverted header">Quizck</h1>
      <h2 class="ui inverted">Play, Compete and Learn</h2>
    </div>
  </div>

  <div class="ui aligned center aligned grid">
    <div class="column">
      <h2 class="ui teal header">
        <div class="content">
          Create a new account
        </div>
      </h2>
      <form id="signUpForm" class="ui large form" action="" method="POST">
        {% csrf_token %}
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="username" value="{{username}}" placeholder="Username" required>
            </div>
          </div>
          <div class="field">
            <div id="emailotp" class="ui left icon input">
              <i class="envelope icon"></i>
              <input id="emailId" type="text" name="emailId" value="{{emailId}}" placeholder="E-mail address" required>
              <div class="ui basic teal button" id="sendEmail" style="margin-left:1em;" onclick="sendEmail()">Send OTP</div>
            </div>            
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" value="{{password}}" placeholder="Password" required>
            </div>
          </div>
          <button class="ui fluid large teal submit button" onclick="verify()">Sign Up</button>
        </div>
      </form>
      {% if messages %}
        <div class="ui error message">
          <ul class="list" id="messages">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      <div class="ui message">
        Already have account? <a href="../">Login</a>
      </div>
    </div>
  </div>
  <script src="https://smtpjs.com/v3/smtp.js"></script>
  <script>
    var otp;
    var email;
    function sendEmail() {
      console.log("Inside Send Email");
      otp=Math.floor(1000 + Math.random() * 9000);
      email=$('#emailId').val();
      if(!email)return false;
      Email.send({
      Host: "smtp.gmail.com",
      Username : "noreply.quizck@gmail.com",
      Password : "------------",
      To : email,
      From : "noreply.quizck@gmail.com",
      Subject : "Confirm your Email for Quizck!!",
      Body : "Please Enter this OTP "+otp+""
      }).then(()=>{
        $('#sendEmail').remove();
        $('#emailotp').append('<div class="ui"><input id="otp" type="text" name="otp" placeholder="OTP" style="margin-left:0.3em;" required></div>');        
        console.log("Mail Sent");
      }        
      );
    }

    function verify(){
      var current_email = $('#emailId').val();
      var current_otp = $('#otp').val();
      if(current_otp==otp && current_email==email){
        
        $('#signUpForm').submit();
      }
      else{
        $('#messages').append("<li>Incorrect OTP</li>");
      }
      
    }
    // $('#sendEmail').click(sendEmail());
  </script>
{% endblock %}
